body {
    margin: 0;
    padding: 0;
    border: 0;
    color: #222222;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

a {
  color: rgba(235, 133, 27, 1.0);
}

a:hover {
  color: rgba(0, 0, 100, 1.0);
}

hr {
    color: #222222;
    border-style: solid;
    margin: 2em 0 3em;
}

.header-inner {
    max-width: 850px;
    margin: 0 auto;
}

.header {
    margin: 0;
    padding: 50px 0px 0px 0px;
    color: #f5f5dc;
    text-align: right;
    font-family: "Lato", serif;
    font-weight: 900;
    line-height: 1;
    height: 250px;
}

#container {
    background:
    /* top, transparent orange, faked with gradient */
    linear-gradient(
      rgba(235, 133, 27, 0.8),
      rgba(235, 133, 27, 0.8)
    ),
    /* bottom, image */
    url("../images/montage.jpg");
    background-repeat: repeat;
}

.header h1 {
    font-size: 555%;
    font-weight: 900;
    text-align: right;
    letter-spacing: -2px;
    margin: 0;
    padding: 10px 0 0 0;
}

.header h2 {
    font-size: 238%;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.header p {
    font-size: 160%;
    font-weight: 900;
    margin: 0;
    padding: 10px 0 0 0;
}

.header a {
    color: #f5f5dc;
    text-decoration: none;
}

.header img {
    float: left;
}

.inner {
    border-radius: 25px;
    background: #f5f5dc;
    max-width: 850px;
    margin: 0 auto;
    padding: 50px;
}

#blurb {
    font-size: 160%;
}

h1 {
    margin-top: 0;
    font-family: "Lato", serif;
    font-weight: 900;
    font-size: 280%;
    text-align: center;
    line-height: 1;
}

h2 {
    font-family: "Lato", serif;
    font-weight: 900;
    font-size: 230%;
    line-height: 1;
}

h3 {
    font-family: "Lato", serif;
    font-weight: 900;
    font-size: 190%;
    line-height: 1;
}

h4 {
    font-family: "Lato", serif;
    font-weight: 900;
    font-size: 140%;
    line-height: 1;
}

p, ul {
    font-size: 130%;
    margin-top: 0.5em;
}

.speaker-img {
    width: 100px;
    height: 100px;
    border: 1px solid #222222;
    background-color: #222222;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

#program h2 {
    text-align: center;
    margin-bottom: 2em;
}

#mc_embed_signup {
    font-size: 100%;
    text-align:center;
    position: relative;
    top: -1em;
}

/* Homepage speaker pictures */

.speaker {
    text-align: center;
    display: inline-block;
    padding: 0 3em;
}

.speaker p {
    margin: 0;
    padding: 0;
}

.speaker h3 {
    font-size: 150%;
    margin: 0;
    padding: 0;
}

.speaker img {
    width: 100px;
    height: 100px;
    border: 1px solid #222222;
}

.speaker-pics {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.speaker-pics div {
    display: inline-block;
}

.speaker-pics img {
  border: 1px solid #222222;
  background-color: #222222;
}

.speaker-pics a {
  border: none;
}

/* Sponsors listing */

.sponsor-list {
    text-align: center;
}

.sponsor-list h3 {
    margin: 0.5em 0;
}

.sponsor-list > hr {
    width: 70%;
    margin: 1em auto;
    margin-bottom: 1.5em;
}

.sponsor {
    display: inline-table;
    position: relative;
    top: -1em;
}

.sponsor .logo {
    height: 6em;
    padding: 1em;
    margin: 2px 2px;
    margin-top: -1em;
    border: 1px solid #222222;
    background-color: white; 
    border-radius: 10px;
}

.sponsor.big-sponsor .logo {
    height: 8em;
}

.sponsor.medium-sponsor .logo {
    height: 7em;
}

.sponsor .magic {
    visibility: hidden;
    height: 0px;
}

.sponsor img {
    /* max-width: 13em; */
    /* max-height: 5em; */
    /*outline: 1px red solid;*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    /*http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/*/
}

#individual-sponsors {
    font-size: 1.4em;
}

footer {
    margin: 0;
    padding: 30px;
    color: #f5f5dc;
    text-align: center;
    font-family: "Lato", sans-serif;
}

footer p {
    font-size: 120%;
}

footer a {
    color: #f5f5dc;
}

footer a:hover {
    color: #cccccc;
}


@media (max-width: 650px) {
    .header span {
        display:block;
        padding: 0px;
    }

    .header {
        height: auto;
        padding: 0px 25px 25px 25px;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 95%;
    }
    .inner {
        padding: 2em 3em;
    }
    .speaker-img {
        text-align: center;
        float: none;
        margin: 0 auto ;
    }
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.scheduletable table {
    margin-top: 1em;
    width: 100%;
    border-width: 1px;
    border-color: #222222;
    border-collapse: collapse;
    font-size: 120%;
}

.scheduletable th {
    background-color: #222222;
    color: #f5f5dc;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #222222;
    text-align: left;
}

.scheduletable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #222222;
    text-align: left;
}

.scheduletable tr:hover {
    background-color: #ffffff;
}

.scheduletable ul {
    font-size: 100%;
    margin: 0;
}

/* recordings */
.talk-info {
  margin-bottom: .5em;
}

.talk-info .speaker {
  text-align: initial;
  padding: 0;
  padding-bottom: 0.5em;
}

.talk-info .talk-title {
  display: block;
}

.talk-embed a {
  cursor: pointer;
  text-decoration: underline;
}

.talk-youtube-thumb {
  float: left;
  margin-right: 1em;
}
