<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Patua+One" />
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>
      {% if page.title %}
      {{ page.title }}
      {% else %}
      !!Con
      {% endif %}
    </title>
  </head>

  <body>
    <div id="container">
      <div class="header">
        <div class="header-inner">
          <a href="index.html"><img src="images/logo_light.png" alt="!!Con logo"/></a>
          <h1><a href="index.html">!!Con 2017</a></h1>
          <h2>May 6-7, 2017 in NYC</h2>
          <p><span>The joy, excitement, and</span> <span>surprise of computing<span></p>
        </div>
      </div>
      <div class="inner">

        <section id="main_content">

        {{content}}

        </section>

      </div>
      <footer>
        <p>Hosted
        on <a href="https://github.com/bangbangcon/bangbangcon.github.io"
        target="_source">GitHub Pages</a>.  Previously:
        !!Con <a href="2016/">2016</a>, <a href="2015/">2015</a>, <a href="2014/">2014</a>.
        The background of this page features our <strong>76</strong>
        past speakers!</p>
      </footer>
    </div>
  </body>
</html>
