
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    <link href='https://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="stylesheets/recordings.css" media="screen" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>

      {% if page.title %}
      {{ page.title }}
      {% else %}
      !!Con
      {% endif %}
    </title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          ← go back <a href="index.html">home</a>.
        </header>

        <hr />

        <section id="main_content">
            {{content}}
        </section>

          <footer>
            Hosted on
            <a href="https://github.com/hausdorff/bangbangcon.github.io" target="_source">
              GitHub Pages
            </a>.
          </footer>

      </div>
    </div>
  </body>
</html>
